@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #015C4B;
  --color-secondary: #10B981;
  --color-danger: #DC2626;
  --color-info: #7DD3FC;
  --color-background: #F8FAFC;
  --color-muted: #F2F4F3;

  /* Semantic gray colors */
  --color-gray-soft: #E5E7EB;
  /* gray-200*/
  --color-gray-muted: #9CA3AF;
  /* gray-400 */
  --color-gray-light: #6B7280;
  /* gray-500 */
  --color-gray-medium: #4B5563;
  /* gray-600 */
  --color-gray-dark: #374151;
  /* gray-700 */
  --color-gray-darker: #1F2937;
  /* gray-800 */
  --color-gray-deep: #111827;
  /* gray-900 */

  /* Specific design colors */
  --color-primary-dark: #065F46;
  --color-danger-light: #FFE4E6;
  --color-toggle-bg: #E9EBEA;
}

.dark {
  --color-primary: #028468;
  --color-secondary: #34D399;
  --color-danger: #F87171;
  --color-info: #0284C7;
  --color-background: #111827;
  --color-muted: #1F2937;

  /* Semantic gray colors */
  --color-gray-soft: #374151;
  /* gray-700 */
  --color-gray-muted: #4B5563;
  /* gray-600 */
  --color-gray-light: #9CA3AF;
  /* gray-400 */
  --color-gray-medium: #D1D5DB;
  /* gray-300 */
  --color-gray-dark: #E5E7EB;
  /* gray-200 */
  --color-gray-darker: #F3F4F6;
  /* gray-100 */
  --color-gray-deep: #F9FAFB;
  /* gray-50 */

  /* Specific design colors */
  --color-primary-dark: #015C4B;
  --color-danger-light: #7F1D1D;
  --color-toggle-bg: #374151;
}